footer.footer
  div.container
    div.row
      div.footer__logo
        a(href="/").footer__logo-link
          img(src="/img/medlakor-logo-white.png" width="208" height="50" alt="Медлакор С.-П.")
      ul.footer__menu
        li
          a(href="/catalog") Каталог
        li
          a(href="#") Новости
        li
          a(href="/reg") Регистрационные удостоверения
      div.footer__contacts
        p 194100 г. Санкт-Петербург
          br
          | ул. А. Матросова д. 4, корп 2, лит П
          br 
          | Тел/факс: (812) 295-87-55, (812) 646-72-23
          br
          | E-mail: 
          a(href="mailto:medlakor@medlakor.ru") medlakor@medlakor.ru
          br
          br
        p © ООО «Медлакор С.-П.», 2017