header.header
  div.container
    div.row
      div.header__logo
        a(href="/").header__logo-link
          img(src="/img/medlakor-logo.png" width="208" height="50" alt="Медлакор С.-П.")
      nav.header__nav
        a(href="#").header__link Новости
        a(href="/catalog").header__link Каталог
        a(href="/reg").header__link.header__link--docs Регистрационные<br>Удостоверения
        a(href="/contacts").header__link Контакты