doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Научно-производственное предприятие по разработке и производству контрольных и диагностических материалов.")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(rel="icon" type="image/png" href="/assets/img/favicon.png")
    link(href='/css/style.css', type="text/css", rel="stylesheet")
    title ЖСГ-контроль | Медлакор С.-П.
  body
    include ../../../partials/header
    main
      div.container
        p.breadcrumbs 
          a(href="/") Главная
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../../") Каталог
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../") Контрольные и диагностические материалы для клинической биохимии
          span &nbsp;&nbsp;>&nbsp;&nbsp;ЖСГ-контроль
        h1 ЖСГ-контроль
        div.row
          div.product__img-wrapper
            img(src="/img/catalog/JCG.jpg" alt="ЖСГ-контроль" onclick="this.nextElementSibling.style.display = 'block';").product__img
            div(onclick="this.style.display = 'none';").product__zoom
              img(src="/img/catalog/JCG.jpg" alt="ЖСГ-контроль")
          div.product__meta
            p.product__subtitle Набор жидких контрольных сывороток для контроля концентрации глюкозы в сыворотке (плазме)  глюкозооксидазным методом
            p.product__number Кат. № 03.01.03
            p.product__codes ТУ 9398-232-52208224-2010, код ОКП 93 9816 0396 
            p.product__documents
              a(href="/reg/JCGcontr.pdf" target="_blank").profuct__reg Регистрационное удостоверение № ФСР 2010/09841
              br
              a(href="/instr/JCGcontrInstr.pdf" target="_blank").profuct__instruction Инструкция по применению
        div.product__description
          p Назначение –   для контроля  правильности  и воспроизводимости  определения концентрации глюкозы.
          p Методы исследования - глюкозооксидазный  метод для ручного анализа, на биохимических анализаторах, на приборах типа  «Эксан» или «Biosen».
          p Набор содержит 4 флакона контрольной сыворотки:
          ul
            li 2 флакона с нормальными концентрациями (норма)
            li 2 флакона с высоким уровнем концентрации (патология)
          p Средние значения концентраций глюкозы и контрольные пределы (Х±2S)  указаны в паспорте набора. Контрольная сыворотка изготавливается на основе бычьей сыворотки. Сыворотка расфасована в полипропиленовые  флаконы по 3 мл и готова к непосредственному применению.
          p 
            b Характеристики набора:
          table
            tr
              td Срок годности
              td 12 месяцев
            tr
              td Температура хранения
              td 2ºС - 8ºС
            tr
              td Срок хранения после вскрытия флакона
              td не более 14 дней
          p При хранении флаконы должны быть плотно закрыты пробкой.
        
    include ../../../partials/footer