doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Научно-производственное предприятие по разработке и производству контрольных и диагностических материалов.")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(rel="icon" type="image/png" href="/assets/img/favicon.png")
    link(href='/css/style.css', type="text/css", rel="stylesheet")
    title ГБ-набор с калибратором | Медлакор С.-П.
  body
    include ../../../partials/header
    main
      div.container
        p.breadcrumbs 
          a(href="/") Главная
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../../") Каталог
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../") Контрольные и диагностические материалы для гемоглобинометрии
          span &nbsp;&nbsp;>&nbsp;&nbsp;ГБ-набор с калибратором
        h1 ГБ-набор с калибратором
        div.row
          div.product__img-wrapper
            img(src="/img/catalog/noimage.png" alt="ГБ-набор с калибратором").product__img.product__img--zoomless
          div.product__meta
            p.product__subtitle Набор для определения гемоглобина в крови
            p.product__number Кат. № 01.02.02
            p.product__codes ТУ 9398-288-52208224-2009, код  ОКП 93 9816
            p.product__documents
              a(href="/reg/GBnabor.pdf" target="_blank").profuct__reg Регистрационное удостоверение № ФСР 2009/06068
              br
              a(href="/instr/GBnabor2.pdf" target="_blank").profuct__instruction Инструкция по применению
        div.product__description
          p Набор предназначен для определения концентрации гемоглобина колориметрическим гемиглобинцианидным методом с калибровочным раствором гемиглобинцианида. Набор рассчитан на 600 исследований.
          p 
            b Состав:
          table
            tr
              td Раствор ацетонциангидрина, 5,0 мл
              td 3 флакона  
            tr
              td Смесь сухих реактивов<br>(калий железосинеродистый, 0,2 г. + натрий бикарбонат, 1,0 г.)
              td 3 флакона
            tr
              td Калибровочный раствор гемоглобинцианида, 4,0 мл
              td 1 флакон
          p 
            b Характеристики:
          table
            tr
              td Срок годности 
              td 12 месяцев
            tr
              td Температура хранения
              td 2ºС - 8ºС
        
    include ../../../partials/footer