doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Научно-производственное предприятие по разработке и производству контрольных и диагностических материалов.")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(rel="icon" type="image/png" href="/img/favicon.png")
    link(href="/css/style.css?v=" + timestamp, type="text/css", rel="stylesheet")
    title БМ-контроль-ССК | Медлакор С.-П.
  body
    include ../../../partials/header
    main
      div.container
        p.breadcrumbs 
          a(href="/") Главная
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../../") Каталог
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../") Контрольные и диагностические материалы для исследования мочи
          span &nbsp;&nbsp;>&nbsp;&nbsp;БМ-контроль-ССК
        h1 БМ-контроль-ССК
        div.row
          div.product__img-wrapper
            img(src="/img/catalog/SSK.jpg" alt="БМ-контроль-ССК" onclick="this.nextElementSibling.style.display = 'block';").product__img
            div(onclick="this.style.display = 'none';").product__zoom
              img(src="/img/catalog/SSK.jpg" alt="БМ-контроль-ССК")
          div.product__meta
            p.product__subtitle Набор контрольных растворов белков мочи
            p.product__number Кат. № 04.01.01
            p.product__codes ТУ 9398-269-52208224-2010, код ОКП 93 9816
            p.product__documents
              a(href="/reg/BMcontr.pdf" target="_blank").profuct__reg Регистрационное удостоверение № ФСР 2010/08997
              br
              a(href="/instr/BMcontrInstr.pdf" target="_blank").profuct__instruction Инструкция по применению
        div.product__description
          p Набор контрольных растворов белков мочи предназначен для контроля правильности и воспроизводимости  результатов определения концентрации белков в моче  по их реакции  с сульфосалициловой кислотой. Набор содержит 8 флаконов растворов альбумина в двух концентрациях, по 4 флакона каждого уровня концентрации. Контрольные растворы расфасованы в пенициллиновые флаконы по 10 мл.  
          p 
            b Характеристики набора:
          table
            tr
              td Срок годности
              td 9 месяцев
            tr
              td Температура хранения
              td 2ºС - 8ºС
            tr
              td Срок хранения после вскрытия флакона
              td не более 14 дней
          p При хранении флаконы должны быть плотно закрыты.
    include ../../../partials/footer