doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Научно-производственное предприятие по разработке и производству контрольных и диагностических материалов.")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(rel="icon" type="image/png" href="/assets/img/favicon.png")
    link(href='/css/style.css', type="text/css", rel="stylesheet")
    title Гематологический контроль 14-8 (14 параметров) | Медлакор С.-П.
  body
    include ../../../partials/header
    main
      div.container
        p.breadcrumbs 
          a(href="/") Главная
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../../") Каталог
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../") Контрольные и диагностические материалы для гематологии
          span &nbsp;&nbsp;>&nbsp;&nbsp;Гематологический контроль 14-8 (14 параметров)
        h1 Гематологический контроль 14-8 (14 параметров)
        div.row
          div.product__img-wrapper
            img(src="/img/catalog/noimage.png" alt="Гематологический контроль 14-8").product__img.product__img--zoomless
          div.product__meta
            p.product__subtitle Набор  контрольного материала для контроля результатов исследований на гематологических  анализаторах
            p.product__number Кат. № 02.01.06
            p.product__codes ТУ 9398-233-52208224-2009, код  ОКП 93 9816
            p.product__documents
              a(href="/reg/GemContr14-8.pdf" target="_blank").profuct__reg Регистрационное удостоверение № ФСР 2010/07210
              br
              a(href="/instr/GemContr14_14Instr.pdf" target="_blank").profuct__instruction Инструкция по применению
        div.product__description
          p Набор «Гематологический контроль 14-8 (14 параметров)» предназначен для контроля правильности и воспроизводимости определяемых параметров на  гематологических анализаторах.    
          p Контрольный материал аттестован по 14 параметрам:
          ul
            li концентрация эритроцитов (RBC);
            li концентрация лейкоцитов (WBC) с дифференциацией лейкоцитов по трем популяциям:
              ul
                li концентрация и процентное соотношение лимфоцитов (LYC);
                li концентрация и процентное соотношение моноцитов  (MON);
                li концентрация и процентное соотношение  гранулоцитов (GRA).
            li концентрация гемоглобина (HGB);
            li гематокрит (HCT);
            li средний объем эритроцитов (MCV);
            li среднее содержание гемоглобина в эритроците (MCH);
            li средняя концентрация гемоглобина в эритроците (MCHC);
            li концентрация тромбоцитов (PLT).
          p Средние значения концентрации компонентов и контрольные пределы (Х±2S)  указаны в паспорте. Контрольный материал расфасован во флаконы  из полипропилена по 2,5 мл.
          ul
            li 2 факона - норма
            li 2 факона - паталогия
          p 
            b Характеристики набора:
          table
            tr
              td Срок годности
              td 105 дней
            tr
              td Температура хранения
              td 4ºС - 8ºС
            tr
              td Срок хранения после вскрытия флакона
              td не более 14 дней
          p При хранении флаконы должны быть плотно закрыты и находиться в вертикальном положении. Замораживание не допускается!
          p «Гематологический контроль 14-8 (14 параметров)» предназначен для контроля качества  результатов исследований на гематологических  анализаторах с дифференциацией лейкоцитов на 3 популяции таких, как:
          ul
            li Celltak MEK 6400, 6410 (Nihon Kohden)
            li Coulter AcT Diff, AcT 10 T, JT, S, MD (Beckman Coulter)
            li Micros 60 (ABX)
            li Advia 60 (Bayer)
            li BC 3000, 2300 (Mindray)
            li Hemalux 19
            li Cell-Dyn 1400-1800 (Abbott)
            li Abacus Jr. (Diatron)
            li Mythic 18 (Orphee)
            li Erma PCE-210
            li Hema Screen 18 (Hospitex Diagnostics)
            li ГЕМА-8-01-«Астра»
        
    include ../../../partials/footer