doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Научно-производственное предприятие по разработке и производству контрольных и диагностических материалов.")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(rel="icon" type="image/png" href="/img/favicon.png")
    link(href='/css/style.css', type="text/css", rel="stylesheet")
    title ЖСВ-контроль | Медлакор С.-П.
  body
    include ../../../partials/header
    main
      div.container
        p.breadcrumbs 
          a(href="/") Главная
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../../") Каталог
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../") Контрольные и диагностические материалы для клинической биохимии
          span &nbsp;&nbsp;>&nbsp;&nbsp;ЖСВ-контроль
        h1 ЖСВ-контроль
        div.row
          div.product__img-wrapper
            img(src="/img/catalog/noimage.png" alt="ЖСВ-контроль").product__img.product__img--zoomless
          div.product__meta
            p.product__subtitle Жидкая контрольная сыворотка
            p.product__number Кат. № 03.01.02
            p.product__codes ТУ 9398-243-52208224-2011, код ОКП 93 9816 
            p.product__documents
              a(href="/reg/JCcontr.pdf" target="_blank").profuct__reg Регистрационное удостоверение № ФСР 2011/12139
              br
              a(href="/instr/JCBcontrInstr.pdf" target="_blank").profuct__instruction Инструкция по применению
        div.product__description
          p Жидкая контрольная сыворотка "ЖСВ-контроль" предназначена для ежедневной внутрилабораторной оценки воспроизводимости определения 14 наиболее часто исследуемых биохимических параметров:
          ul
            li Общий белок 
            li Мочевая кислота	
            li Холестерин
            li Альбумин 
            li Железо
            li Амилаза
            li Глюкоза
            li Кальций   
            li АЛТ  
            li Креатинин
            li Неорганический фосфор
            li Щелочная фосфатаза 
            li Мочевина
            li Хлориды
          p Большая часть параметров находится в области нормальных значений. Контрольный материал адаптирован к большинству применяемых методов как в ручном, так и в автоматическом исполнении. Основой контрольной сыворотки   "ЖСВ-контроль" является стабилизированная бычья сыворотка. Образцы полностью готовы к применению. Контрольная сыворотка расфасована во флаконы по 3,0 мл и поставляется наборами. Набор "ЖСВ-контроль" содержит 10 флаконов. 
          p 
            b Характеристики набора:
          table
            tr
              td Срок годности
              td 12 месяцев
            tr
              td Температура хранения
              td 2ºС - 8ºС
            tr
              td Срок хранения после вскрытия флакона
              td не более 7 дней
          p При хранении флаконы должны быть плотно закрыты.
        
    include ../../../partials/footer