.advantages
  text-align center
  padding-top 48px
  padding-bottom 48px
  background linear-gradient(to bottom, blend(alpha($c-primary--dark, 0.7), $c-white), blend(alpha($c-primary--dark, 0.85),$c-white))
  color $c-white