.breadcrumbs
  font-size 14px
  line-height 24px
  padding-top 24px
  padding-bottom  24px
  color blend(alpha($c-primary--darkest, 0.5), $c-white)
  a
    color blend(alpha($c-primary--darkest, 0.5), $c-white)
    &:hover
      color $c-primary--lighter