.products
  padding-top 48px
  padding-bottom 48px
  
.products__image-wrapper
  column(5/12)
  img
    display block
    width 100%
    height auto
    margin 0 auto
  
.products__text-wrapper
  column(7/12)
  font-size 18px
  line-height 28px