doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Научно-производственное предприятие по разработке и производству контрольных и диагностических материалов.")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(rel="icon" type="image/png" href="/img/favicon.png")
    link(href="/css/style.css?v=" + timestamp, type="text/css", rel="stylesheet")
    title БМ-контроль-ПГК-2 + глюкоза и рН | Медлакор С.-П.
  body
    include ../../../partials/header
    main
      div.container
        p.breadcrumbs 
          a(href="/") Главная
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../../") Каталог
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../") Контрольные и диагностические материалы для исследования мочи
          span &nbsp;&nbsp;>&nbsp;&nbsp;БМ-контроль-ПГК-2 + глюкоза и рН
        h1 БМ-контроль-ПГК-2 + глюкоза и рН
        div.row
          div.product__img-wrapper
            img(src="/img/catalog/noimage.png" alt="БМ-контроль-ПГК-2 + глюкоза и рН").product__img.product__img--zoomless
          div.product__meta
            p.product__subtitle Набор контрольных растворов белков мочи
            p.product__number Кат. № 04.01.032
            p.product__codes ТУ 9398-269-52208224-2010, код ОКП 93 9816
            p.product__documents
              a(href="/reg/BMcontr.pdf" target="_blank").profuct__reg Регистрационное удостоверение № ФСР 2010/08997
              br
              a(href="/instr/BMcontrPG2Instr.pdf" target="_blank").profuct__instruction Инструкция по применению
        div.product__description
          p Набор «БМ-контроль-ПГК-2 + глюкоза и рН» предназначен для контроля правильности и воспроизводимости результатов определения в моче:
          ul
            li белков – по их реакции с пирогаллоловым красным, с использованием диагностических тест-полосок; 
            li глюкозы – ферментативным методом (глюкозооксидазным), качественным по реакции Бенедикта,  с помощью диагностических тест-полосок; 
            li рН – с помощью диагностических  тест-полосок.
          p Набор содержит 4 флакона по 2,0 мл контрольных растворов белка:
          ul
            li 2 флакона с концентрацией белка в диапазоне (0,4 - 0,6) г/л;
            li 2 флакона с концентрацией белка в диапазоне (0,9 – 1,1) г/л.
          p Концентрация глюкозы во всех флаконах одинаковая в диапазоне концентрации 4,5 - 6,0 ммоль/л.
          p В паспорте набора указываются средние значения концентраций компонентов с контрольными пределами (Х±2S), а также качественные характеристики. Контрольный материал готов к применению.
          p 
            b Характеристики набора:
          table
            tr
              td Срок годности
              td 12 месяцев
            tr
              td Температура хранения
              td 2ºС - 8ºС
    include ../../../partials/footer