doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Научно-производственное предприятие по разработке и производству контрольных и диагностических материалов.")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(rel="icon" type="image/png" href="/img/favicon.png")
    link(href='/css/style.css', type="text/css", rel="stylesheet")
    title Новости | Медлакор С.-П.
  body
    include ../partials/header
    main
      div.container
        p.breadcrumbs 
          a(href="../") Главная
          span &nbsp;&nbsp;>&nbsp;&nbsp;Новости
        h1 Новости
        div.new
          h3.new__date 06 марта 2017
          p Получен <a href="/reg/CT-1.pdf" target="_blank">сертификат</a> о происхождении товара форма СТ-1 в соответствии с постановлением Правительства от 5 февраля 2015 г. №102 "Об установлении ограничения допуска отдельных видов медицинских изделий, происходящих из иностранных государств, для целей осуществления закупок для обеспечения государственных и муниципальных нужд".
        div.new
          h3.new__date 01 февраля 2017
          p На сайте вывешены новые РУ.
        div.new
          h3.new__date 12 января 2017
          p В связи с изменением адреса места производства и юридического адреса предприятия Росздравнадзором внесены изменения в регистрационные удостоверения от 11.01.2017. Регистрационные удостоверения на сайте будут заменены по мере получения бланков РУ.
        div.new
          h3.new__date 06 декабря 2016
          p Получен <a href="/reg/CT-1.pdf" target="_blank">сертификат</a> о происхождении товара форма СТ-1 в соответствии с постановлением Правительства от 5 февраля 2015 г. №102 "Об установлении ограничения допуска отдельных видов медицинских изделий, происходящих из иностранных государств, для целей осуществления закупок для обеспечения государственных и муниципальных нужд".
        div.new
          h3.new__date 13 мая 2016
          p "Гематологический контроль 14-8" (Контрольная кровь) выходит 16 мая 2016 г.
        div.new
          h3.new__date 17 декабря 2015
          p "Гематологический контроль 14-8" (Контрольная кровь) выходит 15 января 2016 г.
        div.new
          h3.new__date 09 октября 2015
          p Мы завершили <a href="/reg/Belarus.pdf" target="_blank">перерегистрацию</a> наших наборов в Республике Беларусь. 
          p Также вы можете скачать <a href="/reg/Belarus_pril.pdf" target="_blank">приложение</a> к решистрационному удостоверению.
        div.new
          h3.new__date 09 июля 2014
          p Мы переехали!
          p Тел. 8 (812) 646-72-23 остался.
          p Новый тел. 8 (812) 295-87-55.
          p Почтовый адрес: 194100 г.Санкт-Петербург, ул. А. Матросова, д. 4, корп 2, лит П.
          p Адрес получения заказов: Выборгская набережная, д. 55, на территории завода "Оккервиль".
        div.new
          h3.new__date 19 мая 2014
          p Уважаемые коллеги!
          p В связи с многочисленными просьбами специалистов лабораторной диагностики,  мы приступили к выпуску наборов контрольных растворов белков мочи методом пирогаллоловым красным еще одной комплектации:
          ul
            li кат № 04.01.031 «БМ-контроль-ПГК-2»:
              table
                tr
                  td Уровень №1 (0,5 г/л)
                  td 2 фл. &times; 2,0 мл
                tr
                  td Уровень №2 (1,0 г/л)
                  td 2 фл. &times; 2,0 мл
          ul
            li кат № 04.01.031 «БМ-контроль-ПГК-2 + глюкоза и рН»:
              table
                tr
                  td Уровень №1
                  td 2 фл. &times; 2,0 мл
                tr
                  td Уровень №2
                  td 2 фл. &times; 2,0 мл
        div.new
          h3.new__date 01 сентября 2012
          p Уважаемые коллеги, информируем Вас о том, что у нас появился новый телефонный номер (812) 646-72-23 взамен (812) 702-70-19. 
          p Номер (812) 556-19-03 остался прежним.
    include ../partials/footer