doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Научно-производственное предприятие по разработке и производству контрольных и диагностических материалов.")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(rel="icon" type="image/png" href="/img/favicon.png")
    link(href="/css/style.css?v=" + timestamp, type="text/css", rel="stylesheet")
    title Регистрационные удостоверения | Медлакор С.-П.
  body
    include ../partials/header
    main
      div.container
        p.breadcrumbs 
          a(href="../") Главная
          span &nbsp;&nbsp;>&nbsp;&nbsp;Регистрационные удостоверения
          h1.reg__title Регистрационные удостоверения
          div.row
            div.reg
              div.reg__block
                a(href="Gemokont.pdf" target="_blank").reg__link.reg__link--pdf ГЕМОКОНТ
              //-div.reg__block
                a(href="GBnabor.pdf" target="_blank").reg__link.reg__link--pdf ГЕМИГЛОБИНЦИАНИД
              div.reg__block
                a(href="GBnabor.pdf" target="_blank").reg__link.reg__link--pdf ГБ-набор
              div.reg__block
                a(href="ERcontr.pdf" target="_blank").reg__link.reg__link--pdf Эр-контроль
              div.reg__block
                a(href="Lcontr.pdf" target="_blank").reg__link.reg__link--pdf Л-контроль
              div.reg__block
                a(href="TRcontr.pdf" target="_blank").reg__link.reg__link--pdf Тр-контроль
              div.reg__block
                a(href="GemContr14-8.pdf" target="_blank").reg__link.reg__link--pdf Гематологический контроль 14-8<br>(8 параметров)
              div.reg__block
                a(href="GemContr14-8.pdf" target="_blank").reg__link.reg__link--pdf Гематологический контроль 14-8<br>(14 параметров)
              div.reg__block
                a(href="JCcontr.pdf" target="_blank").reg__link.reg__link--pdf ЖСП-контроль
              div.reg__block
                a(href="JCcontr.pdf" target="_blank").reg__link.reg__link--pdf ЖСВ-контроль
              div.reg__block
                a(href="JCGcontr.pdf" target="_blank").reg__link.reg__link--pdf ЖСГ-контроль
              div.reg__block
                a(href="BMnaborPG.pdf" target="_blank").reg__link.reg__link--pdf БМ-НАБОР-ПГК
              div.reg__block
                a(href="CT-1.pdf" target="_blank").reg__link.reg__link--pdf Сертификат о происхождении товара СТ-1
            div.reg
              div.reg__block
                a(href="BMcontr.pdf" target="_blank").reg__link.reg__link--pdf БМ-контроль-ССК
              div.reg__block
                a(href="BMcontr.pdf" target="_blank").reg__link.reg__link--pdf БМ-контроль-ССК c калибратором
              div.reg__block
                a(href="BMcontr.pdf" target="_blank").reg__link.reg__link--pdf БМ-контроль-ССК + глюкоза и рН
              div.reg__block
                a(href="BMcontr.pdf" target="_blank").reg__link.reg__link--pdf БМ-контроль-ССК + глюкоза и рН с калибратором
              div.reg__block
                a(href="BMcontr.pdf" target="_blank").reg__link.reg__link--pdf БМ-контроль-ПГК
              div.reg__block
                a(href="BMcontr.pdf" target="_blank").reg__link.reg__link--pdf БМ-контроль-ПГК + глюкоза и рН
              div.reg__block
                a(href="BMcontr.pdf" target="_blank").reg__link.reg__link--pdf БМ-контроль-ПГК + глюкоза и рН с калибратором
              div.reg__block
                a(href="KMcontr.pdf" target="_blank").reg__link.reg__link--pdf КМ-контроль-БХ
              div.reg__block
                a(href="KMcontr.pdf" target="_blank").reg__link.reg__link--pdf КМ-контроль-ТП
              div.reg__block
                a(href="gemolizin-2.pdf" target="_blank").reg__link.reg__link--pdf Гемолизин-2 (ГЕМ-2)
              div.reg__block
                a(href="byfer.pdf" target="_blank").reg__link.reg__link--pdf Разбавитель крови
    include ../partials/footer