// Colors
$c-grey =                   #494949

$c-white =                  #FFFFFF
$c-black =                  #000000

$c-primary =                #0B5C87
$c-primary--light =         lighten($c-primary, 20%)
$c-primary--lighter =       lighten($c-primary, 40%)
$c-primary--lightest =      lighten($c-primary, 60%)
$c-primary--dark =          darken($c-primary, 15%)
$c-primary--darker =        darken($c-primary, 30%)
$c-primary--darkest =       darken($c-primary, 45%)

// Fonts
$f-primary = "Open Sans", "Arial", sans-serif

// Transitions
$t-time = 0.2s