doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content="Научно-производственное предприятие по разработке и производству контрольных и диагностических материалов.")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
    link(rel="icon" type="image/png" href="/assets/img/favicon.png")
    link(href='/css/style.css', type="text/css", rel="stylesheet")
    title КМ-контроль-БХ | Медлакор С.-П.
  body
    include ../../../partials/header
    main
      div.container
        p.breadcrumbs 
          a(href="/") Главная
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../../") Каталог
          span &nbsp;&nbsp;>&nbsp;&nbsp;
          a(href="../") Контрольные и диагностические материалы для исследования мочи
          span &nbsp;&nbsp;>&nbsp;&nbsp;КМ-контроль-БХ
        h1 КМ-контроль-БХ
        div.row
          div.product__img-wrapper
            img(src="/img/catalog/KM-BX.jpg" alt="КМ-контроль-БХ" onclick="this.nextElementSibling.style.display = 'block';").product__img
            div(onclick="this.style.display = 'none';").product__zoom
              img(src="/img/catalog/KM-BX.jpg" alt="КМ-контроль-БХ")
          div.product__meta
            p.product__subtitle Набор образцов контрольной мочи
            p.product__number Кат. № 04.01.06
            p.product__codes ТУ 9398-244-52208224-2011, код ОКП 93 9816 0212
            p.product__documents
              a(href="/reg/KMcontr.pdf" target="_blank").profuct__reg Регистрационное удостоверение № ФСР 2011/12138
              br
              a(href="/instr/KMcontrInstr.pdf" target="_blank").profuct__instruction Инструкция по применению
        div.product__description
          p Контрольная моча «КМ-контроль-БХ» приготовлена на основе  человеческой мочи. Контрольный материал готов к использованию. Назначение – контроль качества результатов определения в моче следующих веществ:
          ul
            li белок,	
            li амилаза,
            li мочевина,
            li глюкоза,
            li мочевая кислота,
            li удельная плотность,
            li рН,
            li хлориды,	 
            li креатинин,	
            li неорганический фосфор.	 
          p Средние значения концентраций компонентов и допустимые пределы (Х±2S) указаны в паспорте набора. "КМ-контроль-БХ" предназначен для проведения исследований как количественными, полуколичественными так и   качественными методами.
          table
            tr
              th №
              th Компоненты мочи
              th Методы исследования
            tr
              td 1
              td Белок
              td По реакции с сульфосалициловой кислотой, пирогаллоловым красным, диагностические полоски
            tr
              td 2
              td Креатинин
              td По реакции Яффе, по конечной точке, кинетический
            tr
              td 3
              td Мочевина
              td УФ-уреазный, по реакции с диацетилмонооксимом
            tr
              td 4
              td Мочевая кислота
              td Уриказный, колориметрический
            tr
              td 5
              td Глюкоза
              td Глюкозооксидазный, диагностические полоски
            tr
              td 6
              td Хлориды
              td Колориметрический
            tr 
              td 7
              td Неорганический фосфор
              td По реакции с молибденовокислым аммонием
            tr
              td 8
              td α-амилаза
              td Ферментативный колориметрический -EPS
            tr
              td 9
              td рН
              td Диагностические полоски
            tr
              td 10
              td Удельная плотность
              td Диагностические полоски
          p Контрольная моча поставляется во флаконах в объеме 10 мл. Набор содержит 4 флакона.
          p
            b Характеристики набора:
          table
            tr
              td Срок годности
              td 12 месяцев
            tr
              td Температура хранения
              td 2ºС - 8ºС
            tr
              td Срок хранения после вскрытия флакона
              td не более 14 дней
    include ../../../partials/footer